# Import

all we do is open the file with pandas and write a csv. 

**TODO:** read - clean - write

In [2]:
import pandas as pd
import gzip

In [13]:
# read and prepare the data

attacks = pd.read_excel(gzip.open("../input/GSAF5.xls.gz"), sheet="Sheet1-GSAF")

fields_to_keep = ["Case Number", "Date", "Type", "Country", "Area",
                  "Location", "Activity", "Name", "Sex ", "Age", "Injury",
                  "Fatal (Y/N)", "Time", "Species ", "Investigator or Source"]
attacks = attacks[fields_to_keep]

renamer = {
    'Case Number': 'caseno',
    'Species ': 'species',
    'Fatal (Y/N)': 'fatal',
    'Sex ': 'sex'}
attacks.rename(columns=renamer, inplace=True)
del renamer 

replacer = {'N': 'N', 'Y': 'Y'}
attacks['fatal'] = attacks.fatal.map(
    lambda f: replacer.get(str(f).upper().strip(), 'UNKNOWN'))
del replacer

attacks = attacks.loc[pd.notnull(attacks.Date)]
assert len(attacks) == 6066

attacks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6066 entries, 0 to 6065
Data columns (total 15 columns):
caseno                    6066 non-null object
Date                      6066 non-null object
Type                      6065 non-null object
Country                   6021 non-null object
Area                      5656 non-null object
Location                  5560 non-null object
Activity                  5532 non-null object
Name                      5861 non-null object
sex                       5491 non-null object
Age                       3359 non-null object
Injury                    6038 non-null object
fatal                     6066 non-null object
Time                      2831 non-null object
species                   3088 non-null object
Investigator or Source    6050 non-null object
dtypes: object(15)
memory usage: 758.2+ KB

In [15]:
attacks.tail(3)

,caseno,Date,Type,Country,Area,Location,Activity,Name,sex,Age,Injury,fatal,Time,species,Investigator or Source
6063,ND.0003,1900-1905,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF"
6064,ND.0002,1883-1889,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938"
6065,ND.0001,1845-1853,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker

In [16]:
attacks.fatal.value_counts()

N          4382
Y          1558
UNKNOWN     126
Name: fatal, dtype: int64

In [17]:
attacks.Type.value_counts()

Unprovoked      4446
Provoked         561
Invalid          526
Sea Disaster     220
Boat             202
Boating          110
Name: Type, dtype: int64

In [20]:
# write the data 
fpath = "../output/attacks.csv.gz"
attacks.to_csv(fpath, sep="|", compression='gzip')
print("wrote {} records to {}".format(len(attacks), fpath))

wrote 25604 records to ../output/attacks.csv.gz.

In [ ]:
# done.